<header>
    <nav>
        <ul>
            <li>
                <a href="{% url "home" %}">Home</a>
            </li>
            <li>
                <a href="{% url "skills" %}">Skills</a>
            </li>
            <li>
                <a href="{% url "projetos" %}">Projetos</a>
            </li>
            <li>
                <a href="{% url "sobre" %}">Sobre</a>
            </li>
            <li>
                <a href="{% url "contatos" %}">Contatos</a>
            </li>
        </ul>
    </nav>
</header>