{% load static %}
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div>
        <div>
            <div class = 'quadro quadro_sobre_contatos'>
                <h1>dipisicing elit. Expedita dolorum.</h1>
                <h2>Lorem ipsum dolor sit amet consectetur
                    a. dipisicing elit. Expedita dolorum nesciunt
                    error odio rerum sit sapiente laudantium quia
                    itaque aut</h2>
            </div>
        </div>
    </div>    
</body>
</html>