{% load static %}
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div>
        <img class="imagem_dev" src="{% static 'images/programador.jpg' %}" alt="Minha Imagem">

        <div class = 'quadro'>
            <h1> Quem sou eu?</h1>
            <h2> Olá ,Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid totam, deserunt in recusandae commodi, fugit accusantium ab cum iure obcaecati facere itaque sunt sed, earum eaque perferendis eligendi dolorem id?</h2>
        </div>
    </div>
    
</body>
</html>