{% load static %}
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div>
        <div>
            <img class="imagem_dev" src="{% static 'images/programador.jpg' %}">

            <div class = 'quadro quadro_home1'>
                <h1> Bem-vindo ao meu currículo digital!</h1>
                <h2> Aqui você encontrará informações sobre minhas habilidades,
                projetos, experiências e como entrar em contato comigo.</h2>
            </div>
        </div>


        <div> 
            <div class = 'quadro quadro_home2'>
                <h1> Quem sou eu?</h1>
                <h2> Meu nome é Igor ,Estudante de Análise e Desenvolvimento de Sistemas no terceiro semestre,com foco em aprimorar habilidades técnicas e conhecimentos em programação.</h2>
                
            </div>

            <img class="imagem_cafe" src="{% static 'images/Cafe_.jpg' %}">
        </div>
        
        
    </div>
    
</body>
</html> 