{% load static %}
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div>
        <div class="quadro_skills div_skills">
            <img class="imagens_skills" src="{% static 'images/python.jpg' %}">
            <progress value="70" max="100"></progress>
        </div>
        <div class ='quadro_skills div_skills'> 
            <img class="imagens_skills" src="{% static 'images/Mysql_logo.png' %}">
            <progress value="70" max="100"></progress>
        </div>
        <div class ='quadro_skills div_skills'> 
            <img class="imagens_skills" src="{% static 'images/html_css.jpg' %}">
            <progress value="30" max="100"></progress>
        </div>
        <div class ='quadro_skills div_skills'> 
            <img class="imagens_skills" src="{% static 'images/docker2.png' %}">
            <progress value="40" max="100"></progress>
        </div>
        <div class ='quadro_skills div_skills'> 
            <img class="imagens_skills" src="{% static 'images/git2.png' %}">
            <progress value="50" max="100"></progress>
        </div>


    </div>
</body>
</html>