/* Estilos para o header */
body{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #f2f2f2;
}

header {
    background-color: #2ecc71; /* Cor de fundo */
    padding: 10px 0; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Sombra mais forte */
    margin-bottom: 60px;

}



/* Estilos para a barra de navegação */
nav {
    text-align: center; /* Centralizar o texto */
}

/* Estilos para a lista não ordenada (ul) */
ul {
    list-style-type: none; /* Remover marcadores de lista */
    padding: 0; /* Remover preenchimento padrão da lista */
    
}

/* Estilos para os itens de lista (li) */
li {
    display: inline-block; /* Exibir os itens de lista em linha */
    margin-right: 30px; /* Espaçamento à direita entre os itens de lista */
}

/* Estilos para os links (a) */
a {
    color: #ffffff; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado do link */
    font-weight: bold; /* Negrito */
    font-size: 18px; /* Tamanho da fonte */
}

/* Estilos para os links quando estão sendo passados com o mouse */
a:hover {
    color: #1a8e4b; /* Mudar a cor do texto quando o mouse passa por cima */
}

/* Estilo para a imagem */
.imagem_dev {
    width: 400px; /* Definir a largura da imagem */
    height: auto; /* Altura automática para manter a proporção */   
    float: left; /* Posicionar a imagem no lado esquerdo */
    margin-right: 300px; /* Adicionar margem à direita para separar o conteúdo */
    margin-left: 20px;
    border-radius: 50%;
}

h1{
    color: #ff0000;
    font-size: 24px; /* Definir o tamanho da fonte para 18 pixels */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

h2{
    color: #333333;
    font-size: 18px; /* Definir o tamanho da fonte para 18 pixels */
    margin-left: 25%;
    font-family: Arial, sans-serif;
    width: 60%;
}

.quadro {
    background-color: #f0f0f0; /* Cor de fundo do quadro */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px; /* Espaçamento interno */
    width: 30%;
    margin-left: 40%;
}

.quadro p {
    margin: 0; /* Remover margem padrão dos parágrafos dentro do quadro */
}